<div class="footer-inner">

  <% if (theme.footer.content) { %>

    <div class="footer-content">

      <%- theme.footer.content %>
    </div>
  <% } %>
  <% if (theme.footer.statistics.enable) { %>
    <%- partial('_partials/footer/statistics.ejs') %>
  <% } %>
  <% if(theme.footer.beian.enable) { %>
    <!-- 备案信息 ICP for China -->
    <%- partial('_partials/footer/beian.ejs') %>
  <% } %>

  Live2D 看板猫：Tororo
<script src="https://fastly.jsdelivr.net/npm/live2d-widget@3.1.4/lib/L2Dwidget.min.js"></script>
<script>
  L2Dwidget.init({
    model: {
      jsonPath: "https://dns.tianzhihao.dpdns.org/assets/Tororo/hijiki.model.json", // 模型 JSON 文件路径
      scale: 1
    },
    // /assets/Tororo/hijiki.model.json
    display: {
      position: "right",   // 'left' 或 'right'
      width: 180,
      height: 220,
      hOffset: 0,          // 左右偏移
      vOffset: -10         // 上下偏移
    },
    mobile: {
      
      show: true          // 手机端默认关闭；想开启改成 true
    },
    react: {
      opacityDefault: 0.8, // 常态透明度
      opacityOnHover: 0.2  // 鼠标悬浮时透明度
    }
  });
</script>
<!-- <script>
  window.isDomesticUser = null;

  async function detectUserRegion() {
    try {
      const res = await fetch('https://ipinfo.liiiil.dpdns.org/');
      const text = await res.text();
      window.isDomesticUser = text.trim() === 'true';
      console.log('地区检测结果：', window.isDomesticUser);
    } catch (e) {
      window.isDomesticUser = false;
      console.error('地区检测失败，默认国外');
    }
  }

  detectUserRegion();
</script> -->


</div>
