// --------------------------------------
// Fluid
// https://github.com/fluid-dev/hexo-theme-fluid
// --------------------------------------

@import "_variables/base"
for $inject_variable in hexo-config("injects.variable")
  @import $inject_variable;

@import "_functions/base"

@import "_mixins/base"
for $inject_mixin in hexo-config("injects.mixin")
  @import $inject_mixin;

@import "_pages/pages"

for $inject_style in hexo-config("injects.style")
  @import $inject_style;
// Custom selection style
::selection {
  background-color: black; // 选中时的背景色为黑色
  color: white;           // 选中时的文字颜色为白色
}

::-moz-selection {
  background-color: black; // 兼容 Firefox 选中时的背景色为黑色
  color: white;           // 兼容 Firefox 选中时的文字颜色为白色
}